body {
	display: block;
	margin: 0;
}
video#maya {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
}
.text {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 100px;
	color:
}
h3,p {
	font-family: Helvetica Neue, Helvetica, Arial, Times;
	font-weight: 200;
	line-height: 30px;
	color: #FFF;	
}
h3 {
	font-size: 30px;
}
p {
	font-size: 20px;
	font-weight: 200;
	line-height: 28px;
}

input {
	padding: 10px;
	border: 1px solid #FFF;
	border-radius: 5px;
	color: #FFF;
	margin: 10px 0px;
	background: rgba(255,255,255,0);
}

a {
	color: #FFF;
	padding: 3px 10px;
	border: 1px solid #FFF;
	border-radius: 5px;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
	color: #FFF;
	border: 1px solid #909;
}

input:hover {
	color: #FFF;
	border: 1px solid #909;
}

::-webkit-input-placeholder {
   color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}

:-ms-input-placeholder {  
   color: #FFF;  
}

img {
	margin: 50px auto 20px auto;
	height: 600px;
	display: block;
}