p {
	font-size: 20px;
	font-family: Helvetica Neue, Helvetica, Arial, Times;
	font-weight: 200;
	text-align: center;
	line-height: 20px;
	color: gray;
}

img {
	padding: 50px auto 20px;
	height: 600px;
	margin: 0 auto;
}