body {
	display: block;
	margin: 0;
}
video#maya {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
}
.text {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 100px;
	color:
}
p {
	font-size: 20px;
	font-family: Helvetica Neue, Helvetica, Arial, Times;
	font-weight: 200;
	line-height: 20px;
	color: #000;
}

a {
	margin: 50px auto;
	cursor: default;
}

img {
	margin: 50px auto 20px auto;
	height: 600px;
	display: block;
}