body {
	display: block;
	margin: 0;
}
p {
	font-size: 20px;
	font-family: Helvetica Neue, Helvetica, Arial, Times;
	font-weight: 200;
	text-align: center;
	line-height: 20px;
	color: gray;
}

a {
	margin: 50px auto;
	cursor: default;
}

img {
	margin: 50px auto 20px auto;
	height: 600px;
	display: block;
}